/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-embed-rentle-shop-block  {
  background-color: $rentle-light;
  border: 2px solid $rentle-dark;
  color: $rentle-dark;
  text-align: center;
  height: auto;
}

.wp-block-embed-rentle-shop-block__warning {
  padding: 1rem;
  background-color: red;
}
