/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Import npm dependencies
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/grid";
@import "~bootstrap/scss/mixins/breakpoints";

// Rentle brand colors to be used with plugin
$rentle-dark: #0E002C !default;
$rentle-light: #F2F2F2 !default;
$rentle-green: #3BD691 !default;
$rentle-red: #D00051 !default;
$rentle-orange: #FFC6A9 !default;

